<template>
  <div>
    <nav class="nav-extended indigo">
      <div class="nav-wrapper">
        <span class="brand-logo">DevZen</span>
      </div>
      <div class="nav-content">
        <ul class="tabs tabs-transparent">
          <li class="tab">
            <a class="active" href="#podcast" v-on:click.prevent="$router.push('/podcast')">Подкаст</a>
          </li>
          <li class="tab">
            <a href="#live" v-on:click.prevent="$router.push('/live')">Вещание</a>
          </li>
          <li class="tab disabled">
            <a href="#forum" zv-on:click.prevent="$router.push('/forum')">Форум</a>
          </li>
          <li class="tab">
            <a href="#patreon" v-on:click.prevent="$router.push('/patreon')">Patreon</a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Needed for tab indicator to appear -->
    <div id="podcast" class="col s12"></div>
    <div id="live" class="col s12"></div>
    <div id="forum" class="col s12"></div>
    <div id="patreon" class="col s12"></div>

    <router-view class="nested-child"></router-view>
  </div>
</template>
