<template>
  <div>
    <iframe src="https://gitter.im/DevZenRu/live/~embed"
            style="width: 100%; height: 350px; border: 0;" />
    <audio controls="controls"
           style="width: 100%;">
      <source src="http://5.101.105.97:8000/stream?type=.mp3"
              type="audio/mp3" />
    </audio>
  </div>
</template>

<script>
import jQuery from 'jquery'

const resizeIframe = function () {
  jQuery('.nested-child iframe').height(
    document.documentElement.clientHeight -
    jQuery('nav').height() -
    jQuery('audio').height() -
    10
  )
}
export default {
  mounted () {
    window.removeEventListener('resize', resizeIframe)
    window.addEventListener('resize', resizeIframe)
    resizeIframe()
  }
}
</script>
