<template>
  <div class="container">
    <h4 align="center">
      <a href="https://www.patreon.com/bePatron?u=2578882" target="_blank">Стать патроном</a>
    </h4>

    <p>
      Какие мы ставим цели и куда будут потрачены деньги:
    </p>

    <div class="card">
      <div class="card-content">
        <a class="waves-effect waves-light btn">50$/мес</a>
        <div>
          Эта цель сделает подкаст не убыточным, так как полностью покроет стоимость хостинга и доменного имени.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-content">
        <a class="waves-effect waves-light btn">250$/мес</a>
        <div>
          Микрофоны стоят недешево. Те, что сейчас есть у ведущих, были куплены за свой счет. Эта цель позволит компенсировать стоимость оборудования и при необходимости обновить его в будущем. Плюс к этому мы сможем регулярно раздавать нашим слушателям наклейки, блокнотики, футболки и так далее.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-content">
        <a class="waves-effect waves-light btn">1000$/мес</a>
        <div>
          Один человек сможет работать над подкастом фултайм. Лучшие гости, обзоры всех конференций, пересказы самых хардкорных пейперов, вот это все. Кроме того, мы наконец-то сделаем таймстэмпы к шоунотам, прямой эфир, полную текстовую расшифровку и другие важные, но трудозатратные вещи!
        </div>
      </div>
    </div>
  </div>
</template>
