<template>
  <div id="#app">
    <router-view></router-view>
  </div>
</template>

<script>
  import store from 'renderer/vuex/store'
  export default {
    store
  }
</script>

<style>
  /*@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');*/
  @import url('https://fonts.googleapis.com/icon?family=Material+Icons');
  /*@import url('https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css');*/

  * {
    margin: 0;
    padding: 0;
  }

  html,
  body,
  #app { height: 100%; }
</style>
