<template>
  <div class="container">
    <div class="card">
      <div class="card-content">
        <div class="card-title grey-text text-darken-4">{{ title }}</div>
        <small>{{ meta }}</small>
        <div class="episode-cover">
          <img class="responsive-img z-depth-1" :src="img"/>
        </div>
        <div class="podcast-entry-content" v-html="html"></div>
      </div>
      <div class="card-content">
        <vue-disqus v-if="disqus.shortname"
                   :shortname="disqus.shortname"
                   :identifier="disqus.identifier"
                   :url="disqus.url"
                   :title="disqus.title"></vue-disqus>
      </div>
    </div>
  </div>
</template>

<style>
  .episode-cover {
    margin: 1em 0;
  }
  .podcast-entry-content p {
    margin-top: 1em;
  }
  .podcast-entry-content li:last-child {
    margin-bottom: 1em;
  }
  .podcast-entry-content ul li {
    padding-left: 4ex;
  }
</style>

<script>
import jQuery from 'jquery'

const baseUrl = process.env.NODE_ENV === 'production'
  ? 'http://devzen.ru'
  : 'http://localhost:2600'

export default {
  components: {
    VueDisqus: require('vue-disqus/VueDisqus.vue')
  },
  data () {
    return {
      title: '',
      meta: '',
      img: '',
      html: '',
      disqus: {}
    }
  },
  created () {
    const self = this

    jQuery.get(baseUrl + `/episode-${self.$route.params.eid}/`)
      .done(function (html) {
        const dom = jQuery(html)

        let header = dom.find('article header')
        self.$data.title = header.find('h1').text()
        self.$data.meta = header.find('.entry-meta').text()

        let content = dom.find('article .entry-content')
        self.$data.img = content.find('img').attr('src')
        content.find('img').remove()
        content.find('a').attr('target', '_blank')
        self.$data.html = content.html()

        const disqusVars = dom.find('#disqus_thread + script').text().match(/var disqus_\w+ = .*;/g)
        for (let i = 0; i < disqusVars.length; i++) {
          const pair = disqusVars[i].split(' = ')
          const key = pair[0].split('disqus_')[1]
          const val = pair[1].slice(1, -2)
          self.$data.disqus[key] = val
        }
      })
      .fail(() => {
        alert('fail')
      })
  }
}
</script>
