<template>
  <div class="row valign-wrapper">
    <div class="col s8 offset-s2 l6 offset-l3">
      <div v-for="item in items" class="card sticky-action">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" :src="item.url.img"/>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">
            {{ item.num }} - {{ item.title }}
            <i class="material-icons right">more_vert</i>
          </span>
        </div>
        <div class="card-action">
          <router-link :to="{ name: 'episode', params: {eid: item.num} }">
            Читать далее
          </router-link>
          <router-link :to="{ name: 'themes', params: {eid: item.num} }">
            Темы слушателей
          </router-link>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">
            {{ item.num }} - {{ item.title }}
            <i class="material-icons right">close</i>
          </span>
          <p>{{ item.descr.text() }}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
</style>

<script>
  import jQuery from 'jquery'

  const baseUrl = process.env.NODE_ENV === 'production'
    ? 'http://devzen.ru'
    : 'http://localhost:2600'

  export default {
    data () {
      return {
        items: []
      }
    },
    mounted () {
      const self = this

      jQuery.get(baseUrl)
        .done(function (html) {
          // alert('done')
          self.$data.items = []
          const items = jQuery(html).find('article')
          // alert('found ' + items.length)
          for (var index = 0; index < items.length; index++) {
            const item = jQuery(items[index])

            const title = item.find('header h1')
              .text()
              .replace(/—.*/, '')

            let descr = item.find('.entry-content')
            descr.find('a.more-link').remove()

            const link = item.find('header a')
              .attr('href')
              .replace(/https?:\/\/[^/]+/, '')

            const [type, num] = link.match(/(episode|themes)-(\d+)/).slice(1)

            if (type === 'episode') {
              const url = {
                img: descr.find('p > img').first().attr('src'),
                full: '/episodes/' + num,
                themes: '/episodes/' + num + '/themes'
              }
              self.$data.items.push(
                {title, url, descr, type, num})
            }
          }
        })
        .fail(() => {
          alert('fail')
        })
    }
  }
</script>
