<template>
  <div class="container">
    <div class="card">
      <div class="card-content">
        <span class="card-title grey-text text-darken-4">
            Темы и вопросы слушателей для {{ $route.params.eid }}
          </span>
        <p>{{ text }}</p>
      </div>
      <div class="card-content">
        <vue-disqus v-if="disqus.shortname"
                   :shortname="disqus.shortname"
                   :identifier="disqus.identifier"
                   :url="disqus.url"
                   :title="disqus.title"></vue-disqus>
      </div>
    </div>
  </div>
</template>

<script>
import jQuery from 'jquery'

const baseUrl = process.env.NODE_ENV === 'production'
  ? 'http://devzen.ru'
  : 'http://localhost:2600'

export default {
  components: {
    VueDisqus: require('vue-disqus/VueDisqus.vue')
  },
  data () {
    return {
      text: '',
      disqus: {}
    }
  },
  created () {
    const self = this

    jQuery.get(baseUrl + `/themes-${self.$route.params.eid}/`)
      .done(function (html) {
        const dom = jQuery(html)
        self.$data.text = dom.find('article .entry-content p').text()
        const disqusVars = dom.find('#disqus_thread + script').text().match(/var disqus_\w+ = .*;/g)
        for (let i = 0; i < disqusVars.length; i++) {
          const pair = disqusVars[i].split(' = ')
          const key = pair[0].split('disqus_')[1]
          const val = pair[1].slice(1, -2)
          self.$data.disqus[key] = val
        }
      })
      .fail(() => {
        alert('fail')
      })
  }
}
</script>
